@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
}

.sidebar {
    background-color: rgb(124, 107, 107);
    /*width: 434px;*/
    height: 100vh;
    transition: transform 0.3s ease-in;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.sidebar nav {
    padding: 45px;

}

.sidebar nav li {
    list-style: none;
    font-size: 19px;
    padding: 33px 0;
}

.main {

    width: 90vw;
}

.container {
    display: flex;
}

.info {

    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devpic img {
    width: 381px;
    height: 58vh;

}

.devinfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: source code pro;
}

.hello {
    font-size: 55px;
    font-weight: bold;
}

.name {
    font-size: 39px;
}

.about {
    font-size: 30px;
}

.mabout {
    font-size: 19px;
    margin-top: 23px;
}

.buttons {
    margin-top: 34px;
}

.buttons button {
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: aliceblue;
    color: dodgerblue;
}

.sidebar nav li a {
    text-decoration: none;
    color: rgb(13, 9, 9);
}

.contactform {
    font-family: 'Times New Roman', Times, serif;
    padding-top: 144px;
    padding: 0 34px;
    margin: 12px;
}

.contactform h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 12px 0;
}

.contactform form div {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0;
    padding: 3px;
}

#emailHelp {
    font-size: 8px;
    color: midnightblue;
    margin: 0 5px;
}

#form-check {
    flex-direction: row;

}

#form-check input {
    width: 24px;
    margin: 3px 0;
}

.blogitem {
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: cursive;
    margin: 23px;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.intro h2 {
    margin: 12px;
}

.intro p {
    margin: 12px;
}

.skill {
    width: 69px;
    height: 9px;
    background-color: pink;
    border: 2px solid black;
}

.skillitem {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hundered {
    width: 265px;
}

.fifty {
    width: 2125px;
}

.t5 {
    width: 75px;
    background-color: yellow;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}

.cross {
    margin-left: 155px;
}